<body class="preload">
<div class="container-fluid pl-0 pr-0">
    <div class="row no-gutters">
        <div class="col-md-2 pr-2">
            <%- include("sidebar.ejs") %>
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
