<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="grid-fluid">
    <div>
        <%- include('./partials/sidebar.ejs') %>
    </div>
    <div>
        dssd
    </div>
</div>

<%- include('./partials/footer.ejs') %>
